<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% if title %}
        <title>{{title}}</title>
        {% else %}
        <title>Home page</title>
        {% endif %}
        <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    </head>
    <body>
        {% if header %}
        <h2>{{header}}</h2>
        {% else %}
        <h2>Welcome to my blog</h2>
        {% endif %}
        <div>
            <ul class="classulheader">
                <li class="classliheader classliaheader classhoverheader">
                    <a class="classliaheader classhoverheader" href="{{url_for('home')}}">Home</a></li>
                <li class="classliheader classliaheader classhoverheader">
                    <a class="classliaheader classhoverheader" href="{{url_for('allposts')}}">Posts</a></li>
            </ul>
        </div>
        <div>
            <h4>{{content_header}}</h4>
        </div>
    </body>
</html>