<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{title}}</title>
        <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    </head>
    <body>
        <h1>{{header}}</h1>
        <div>
            <ul class="header">
                <li>
                    <a href="{{url_for('home')}}">Home</a></li>
            </ul>
        </div>
        <h2>Posts</h2>
        {% for item in posts %}
            <div class="posts-item">
                <!-- TODO: may we have a link to the post? -->.
                <h3>{{item.geTitle()}} - {{item.getDate()}}</h3>
                <h4>{{item.getBody()}}</h4>
            </div>
        {% endfor %}
        <h2>Add post</h2>
        <form action="/posts/" method="POST">
            Title: <input type="text" name="title" /><br/>
            Date: <input type="date" name="date" /><br/>
            Body: <textarea name="body" rows="10" cols="30"></textarea><br/>
            <input type="submit" value="Add" />
        </form>
    </body>
</html>