html {
    font-size: 16px;
}

p {
    background-color: darkblue;
    color: lawngreen;
    font-size: 14pt;
}

hr {
    border: 14px dotted red;
}

#my_p {
    text-align: center;
    color: #ffaa;

    height: 100px;
    width: 200px;

    border: 3px dotted darkgoldenrod;
    border-radius: 20px;
    
    padding: 1rem;
    margin: 16px;
}

.pp {
    background-color: black;
    color: lemonchiffon;
}

.container {
    font-weight: bold;
}

table {
    border-collapse: collapse;
}
caption {
    border: 1px solid orange;
}
th {
    border: 1px solid gray;
}
td {
    border: 1px solid green;
}

tr:hover {
    background-color: antiquewhite;
}

td a {
    color: red;
}
td a:hover {
    color: greenyellow;
}
td a:active {
    color: purple;   
}
td a:visited {
    color: darkgray;
}

.tables th {
    background-color: bisque;    
}

ul {
    color: darkblue;
    list-style-type: none;
}

ol {
    list-style-type: lower-roman;
}

ol li {
    font-weight: bold;
}
