body {
    background-color: #1d2a35;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}
.classulheader {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
  
.classliheader {
    float: left;
  }
  
  .classliaheader {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
  }
  
  .classhoverheader:hover {
    background-color: #111111;
  }
h2 {
    border-bottom: 2px #ddd solid;
    color: #ddd;
    text-align: left;
    padding: 5px;
    margin: 2px;
}