body {
    background-color: #1d2a35;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #ddd;
}
.header {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
  
.header li{
    float: left;
  }
  
  .header a{
    display: block;
    color: #ddd;
    text-align: center;
    padding: 16px;
    text-decoration: none;
  }
  
  .header li:hover {
    background-color: #111111;
  }
h1 {
    border-bottom: 2px #ddd solid;
    color: #ddd;
    text-align: left;
    padding: 5px;
    margin: 2px;
}